.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: start;
}

app-leftpanel {
    max-height: 90vh;
    overflow-y: scroll;
}

h2 {
    margin-left: 10px;
    margin-top: 6px;
}