/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: $fonts
);
@include mat-core($custom-typography);